<!DOCTYPE html>
<html>

<head>
    <title>Citas</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        h1 {
            text-align: center;
        }

        table {
            margin: 0 auto;
            border-collapse: collapse;
            width: 80%;
        }

        th,
        td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    <h1>Lista de Citas</h1>
    <table id="tabla-citas">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Especialidad</th>
                <th>Officina</th>
            </tr>
        </thead>
        <tbody id="appointments-table"></tbody>
    </table>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            getAppointments();
        });

        function getAppointments() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'http://localhost:8080/api/appointments/getAll', true);
            xhr.onload = function () {
                if (xhr.status === 200) {
                    var appointments = JSON.parse(xhr.responseText);
                    showAppointments(appointments);
                } else {
                    console.error('Error al obtener los datos de las citas');
                }
            };
            xhr.send();
        }

        function showAppointments(appointments) {
            var table = document.getElementById('appointments-table');
            table.innerHTML = '';

            for (var i = 0; i < appointments.length; i++) {
                var appointment = appointments[i];
                var row = table.insertRow();
                var idColumn = row.insertCell(0);
                var nameColumn = row.insertCell(1);
                var surnameColumn = row.insertCell(2);
                var specialtyColumn = row.insertCell(3);
                var officeColumn = row.insertCell(4);

                idColumn.textContent = appointment.id;
                nameColumn.textContent = appointment.name;
                surnameColumn.textContent = appointment.surname;
                specialtyColumn.textContent = appointment.specialty;
                officeColumn.textContent = appointment.office;
            }
        }

    </script>
</body>

</html>